@let data = latestData();
<div class="home">
    <h1 class="home__gameweek">Update for GW{{data.gameweek}}</h1>

    <app-league [data]="data.league" [enableExpandCollapse]="true" [expanded]="false"></app-league>
    
    <div [innerHTML]="data.overview"></div>

    <div class="home__totw">
        <h2>⭐ Team of the Week</h2>
        <div [innerHTML]="data.totw"></div>
    </div>

    <div class="home__potw">
        <h2>👌🏻 Player of the Week</h2>
        <div [innerHTML]="data.potw"></div>
    </div>

    <div class="home__sacked">
        <h2>😱 Sacked in the morning</h2>
        <div [innerHTML]="data.sacked"></div>
    </div>
</div>
