.previous-updates {
    &__gw-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__gw-btn {
        width: 52px;
        text-align: center;
        padding: 8px;
        border: 1px solid #FFF;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-color: #752F7A;
            transition: background-color 0.3s;
        }

        &.selected {
            background-color: #FFF;
            color: #502054;
            font-weight: 600;
        }
    }
}