<div class="team page-content">
    <h1>{{ teamData()?.name }}</h1>
    <h2>Managed by <b>{{ teamData()?.manager }}</b></h2>
    <app-panel title="Team Details">
        <div class="team__details">
            <div class="team__detail">Current Position <b>{{ getTeamPosition(teamId()) }}</b></div>
            <div class="team__detail">Current Points <b>{{ getTeamPoints(teamId()) }}</b></div>
            <div class="team__detail">Points Behind Leader <b>{{ getPointsBehindLeader(teamId()) || 'N/A' }}</b></div>
        </div>
        <hr />
        <h3>Awards</h3>
        <div class="team__details">
            <div class="team__detail">TOTW Awards <b>{{ getTOTWWins(teamId()) }}</b></div>
            <div class="team__detail">Sacked Awards <b>{{ getSackedWins(teamId()) }}</b></div>
        </div>
        <hr />
        <h3>Records</h3>
        <div class="team__details">
            <div class="team__detail">Highest Rank <b>{{ getHighestRank(teamId()) }}</b></div>
            <div class="team__detail">Lowest Rank <b>{{ getLowestRank(teamId()) }}</b></div>
        </div>
    </app-panel>
</div>
