
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #06EEFF;
    --secondary: #943DFF;
    --font: #3D3C3A;
    --secondary-font: var(--primary);
    --header-height: 100px;
    --footer-height: 150px;
}

html, body { height: 100%; }
body, button { margin: 0; font-family: "Be Vietnam Pro", sans-serif; color: #222 }

.page-content {
    width: 65dvw;
    max-width: 65dvw;
    padding: 24px 12px 50px;
    margin: auto;
    min-height: calc(100dvh - 364px);

    @media (max-width: 768px) {
        width: calc(100dvw - 48px);
        max-width: calc(100dvw - 48px);
        padding: 24px 24px 50px;
    }
}

*:not(button) > {
    h1, h2, h3, h4, h5, h6, p, span, small {
        color: var(--font);
    }
}

h1 {
    font-weight: 600;
    font-size: 45px;
    margin: 10px 0 30px;

    @media (max-width: 768px) {
        font-size: 36px;
    }
}

.sm-hide {
    @media (max-width: 768px) {
        display: none;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
