<footer class="footer">
    <div class="footer__left">
        <img src="https://fantasy.premierleague.com/assets/headline-logo-DgE6C_gE.svg"/>
        <span>League of Leg Ends</span>
    </div>
    <div class="footer__right">
        <div class="footer__right-content">
            <span>Created by Dave Perry</span>
            <span>Data provided by <a href="https://fantasy.premierleague.com/" target="_blank" class="footer__link">Fantasy Premier League</a></span>
            <div class="footer__icons">
                <ng-icon name="ionLogoGithub" (click)="navigateToGithub()"></ng-icon>
                <ng-icon name="ionLogoInstagram" (click)="navigateToInsta()"></ng-icon>
            </div>
        </div>
    </div>
</footer>