<footer class="footer">
    <div class="footer__inner">
        <div class="footer__brand">
            <div class="footer__logo">
                <img src="https://fantasy.premierleague.com/assets/headline-logo-DgE6C_gE.svg" alt="Fantasy Premier League"/>
                <div class="footer__brand-text">
                    <small>Fantasy mini league</small>
                    <span>League of Leg Ends</span>
                </div>
            </div>
        </div>
        <div class="footer__divider"></div>
        <div class="footer__meta">
            <p class="footer__credit">Created by Dave Perry</p>
            <p class="footer__data">Data provided by <a href="https://fantasy.premierleague.com/" target="_blank">Fantasy Premier League</a></p>
        </div>
        <div class="footer__social">
            <button class="footer__social-btn" aria-label="GitHub" (click)="navigateToGithub()">
                <ng-icon name="ionLogoGithub"></ng-icon>
            </button>
            <button class="footer__social-btn" aria-label="Instagram" (click)="navigateToInsta()">
                <ng-icon name="ionLogoInstagram"></ng-icon>
            </button>
        </div>
    </div>
</footer>